body{
    background-color: #05004E;
}

.quiz-container{
    background-color: aliceblue;
    width: 90%;
    max-width: 600px;
    margin: 10px auto 0;
    padding: 30px;
    border-radius: 30px;
}

.quiz-container h1 {
    color: #05004E;
    border-bottom: 1px solid #05004E;

}

.quiz h2{
    font-size: 18px;
    color: #05004E;
    font-weight: 600;
}

.btn{
    background-color: aliceblue;
    color: #05004E;
    font-weight: 500;
    width: 100%;
    border: 2px solid #05004E;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s  ;
}


/* deixa o efeito do botao bonito */
.btn:hover:not([disabled]){ 
    background-color: #05004E;
    color: aliceblue;
}

#proximo-btn{
    background-color: #05004E;
    color: aliceblue;
    font-weight: 500;
    width: 150px;
    border: none;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 10px;
    cursor: pointer;
        transition: all 0.3s  ;


}

#proximo-btn:hover:not([disabled]){
    background-color: aliceblue;
    color: #05004E;
    border: 4px solid #05004E;
}




