@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100..900&family=Poppins:wght@100..900&family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#Inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 390px; 
    padding: 80px;
  }
  
  .img-inicio img {
    width: 360px;
  }
  
  .info-inicio {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .titulo {
    display: flex;
    align-items: center;
    gap: 10px; 
  }

  
  .titulo p {
    color: #081F5C;
    font-size: 40px;
    font-weight: 700;
  }
  
  .pata-icon {
    width: 40px;
    height: 40px;
  }
  
  
  .subtitulo p {
    color: #081e5c7e;
    font-size: 20px;
  }
  
  .button-Cadastrar {
    background-color: #081F5C;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 16px;
    transition: transform 0.6s;

  }

  .button-Cadastrar:hover{
    transform: scale(1.05);

  }
  
  #login_a {
    text-decoration: none;
  }
  

  /* Sobre */
  #Sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 80px;
    background-color: #F7F5F0;
    flex-direction: row-reverse; 
  }
  
  
  .img-sobre img {
    width: 360px;
  }
  
  .info-sobre {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .info-sobre .titulo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .info-sobre .titulo p {
    color: #081F5C;
    font-size: 40px;
    font-weight: 700;
  }
  
  .info-sobre .subtitulo p {
    color: #081e5c7e;
    font-size: 20px;
  }

  /* Dogs */


  #Dogs .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
  }

  .titulo h2{
    font-weight: 200;
  }

  .titulo p{
    font-size: 26px;

  }

  .cards {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 30px;
  }
  
  
  .card1 {
    background-color: #081F5C;
    width: 340px;
    height: 460px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px 50px 30px;
    transition: transform 0.6s;
    cursor: pointer;
  }
  
  .card1:hover {
    transform: scale(1.05);
  }
  
  .card1 .img {
    width: 250px;
    height: 250px; 
    margin-top: 30px;

  }

  
  .card1 h3 {
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
  }
  
  .card1 p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }


  /* sobre mim */

  /* #SobreMim {
    display: flex;
    flex-direction: row;
  } */

  #SobreMim img{
    margin-top: 100px;
    width: 700px;
  }

 #SobreMim .containe-conteudo{
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  left: 40px;

}

#SobreMim .containe-conteudo h1{
color: #081F5C;
font-size: 50px;
}

 #SobreMim .containe-conteudo p{
  text-align: center;

 }

 #SobreMim .teste-teste{
  display: flex;
  flex-direction: row;
  align-items: center;
 }

 .teste1{
  flex-basis: 60%;
 }

 .teste2{
  flex-basis: 40%;
  position: relative;
margin-right: 400px;
}

.teste2 p{
margin-top: 20px;
}

/* Formulario */

#formulario .container-formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-direction: row;
}

#formulario .container-formulario .card-form h2{
color: #081F5C;
text-align: center;
margin: 30px;

}

#formulario .container-formulario  img{
  width: 680px;
  height: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  display: flex;
  justify-content: start;
  align-items: start;
}

#formulario h1{
  align-items: center;
  display: flex;
  justify-content: center;
  color: #334EAC;
  margin-top: 100px ;
  text-align: center;
}

#formulario .card-form {
  flex-direction: column;
  margin: 70px;
}

#formulario .card-form h1{
  font-weight: 800;
 }
 #formulario .container-formulario .card-form h2{
    color: #334EAC;

 }

#formulario .card-form p{
 color: #334EAC;
 text-align: center;
}

.card-form button {
  background-color: #081F5C;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  font-size: 16px;
  margin-top: 30px;
  transition: transform 0.6s;
  left: 120px;
  position: relative;
  cursor: pointer;

}

.card-form button:hover{

    transform: scale(1.05);
  
}
  
footer {
  background-color: #081F5C;
  margin-top: 150px;
  height: 150px;
}  

footer p{
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;


}
