body {
    background: url('https://i.pinimg.com/736x/1c/17/56/1c1756ce226b85aca58cd648c0dd4bf5.jpg');
    background-size: cover; 
    font-family: 'Comic Sans MS', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.calculadora {
    background: rgba(255, 153, 204, 0.9); 
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 320px;

}

input {
    width: 80%;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    color: #ff1493;
}

button {
    background: #ff1493;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
}

.resultados {
    margin-top: 15px;
    background: #ffd4ed;
    padding: 10px;
    border-radius: 10px;
   
}

p {
    font-size: 16px;
    color: #ff1493;
}